/*RESET****************************************** */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/*KEYFRAMES****************************************** */
@keyframes float-in {
    from {opacity: 0; transform: translateX(500px);}
    to {opacity: 100%; transform: translateX(0);}
}

@keyframes shake{
    from {transform: rotate(10deg);}
    50% {transform: rotate(0);}
    to {transform: rotate(-10deg);}
}

/*GENERAL****************************************** */
body{
    background-color: #CCC;
    color: #555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

a{
    text-decoration: none;
    color:darkseagreen;
    }

ul{
    list-style-type: none;
    }

a:hover{

    }

img{
    max-width:100%;
    height:auto;
    }

h1{
    font-family: 'Sigmar One', cursive;
    }

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    }

.clearfix:after{
    content: "";
    clear: both;
    display: block;
    }

/*NAVIGACIJA****************************************** */
.main_nav{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    opacity: 80%;
    z-index: 2;
}

.main_nav ul{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    }

.main_nav li {
    background-color: darkgreen;
    padding: 8px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    flex: 1 1 auto;
    }

.main_nav li:hover{
    box-shadow: 4px 4px 8px gray;
    transform: translateY(6px);
}

/*BANNER****************************************** */
.banner{
    background: url(./image/banner.jpg) center center/cover no-repeat;
    height: 40vh;
    padding-top: 5rem;
    }

.banner h1{
    font-size: 4em;
    color: #7fc993;
    margin-left: 20px;
    text-shadow: 3px 3px 8px #000;
    animation: float-in 1s ease-in;
    }

/*MEDIA QUERIES****************************************** */
@media screen and (max-width: 800px) {

  }
  
@media screen and (min-width: 801px) {

  }


